name: Nightly Docker Release

on:
  schedule:
    - cron: '0 1 * * *'  # Every day at 09:00 Beijing Time (UTC+8)
  workflow_dispatch:
    inputs:
      atom_repo:
        description: "ATOM repo"
        default: "https://github.com/ROCm/ATOM.git"
      atom_commit:
        description: "ATOM commit"
        default: "HEAD"
      aiter_repo:
        description: "Aiter repo"
        default: "https://github.com/ROCm/aiter.git"
      aiter_commit:
        description: "Aiter commit"
        default: "HEAD"
      rccl_repo:
        description: "RCCL repo"
        default: "https://github.com/ROCm/rccl.git"
      rccl_branch:
        description: "RCCL branch"
        default: "29e1567b95e28823b0beb1a988adc587bfab5b4f"

jobs:
  docker-release:
    name: Nightly Docker Release
    runs-on: linux-atom-mi355-1
    strategy:
      fail-fast: false
      matrix:
        base_image:
          - "rocm/pytorch:latest"

    env:
      ATOM_REPO: "https://github.com/ROCm/ATOM.git"
      ATOM_COMMIT: "HEAD"
      AITER_REPO: "https://github.com/ROCm/aiter.git"
      AITER_COMMIT: "HEAD"
      RCCL_REPO: "https://github.com/ROCm/rccl.git"
      RCCL_BRANCH: "29e1567b95e28823b0beb1a988adc587bfab5b4f"
      GPU_ARCH: "gfx942;gfx950"

    steps:
      - name: Checkout ATOM repo
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

      - name: Echo environment variables
        run: |
          echo "ATOM_REPO: ${{ inputs.atom_repo || env.ATOM_REPO }}"
          echo "ATOM_COMMIT: ${{ inputs.atom_commit || env.ATOM_COMMIT }}"
          echo "AITER_REPO: ${{ inputs.aiter_repo || env.AITER_REPO }}"
          echo "AITER_COMMIT: ${{ inputs.aiter_commit || env.AITER_COMMIT }}"
          echo "RCCL_REPO: ${{ inputs.rccl_repo || env.RCCL_REPO }}"
          echo "RCCL_BRANCH: ${{ inputs.rccl_branch || env.RCCL_BRANCH }}"

      - name: Build Docker image
        timeout-minutes: 120
        run: |
          docker build --network=host -t atom_release:ci \
          --build-arg BASE_IMAGE="${{ matrix.base_image }}" \
          --build-arg GPU_ARCH="${{ env.GPU_ARCH }}" \
          --build-arg MAX_JOBS=64 \
          --build-arg ATOM_REPO="${{ inputs.atom_repo || env.ATOM_REPO }}" \
          --build-arg ATOM_COMMIT="${{ inputs.atom_commit || env.ATOM_COMMIT }}" \
          --build-arg AITER_REPO="${{ inputs.aiter_repo || env.AITER_REPO }}" \
          --build-arg AITER_COMMIT="${{ inputs.aiter_commit || env.AITER_COMMIT }}" \
          --build-arg RCCL_REPO="${{ inputs.rccl_repo || env.RCCL_REPO }}" \
          --build-arg RCCL_BRANCH="${{ inputs.rccl_branch || env.RCCL_BRANCH }}" \
          -f docker/Dockerfile .
          docker inspect atom_release:ci

      - name: Test Docker image
        timeout-minutes: 60
        run: |
          echo "Clean up containers..."
          docker ps -aq -f name=atom_release_ci | xargs -r docker stop | xargs -r docker rm
              
          if [ -f "/etc/podinfo/gha-render-devices" ]; then
            DEVICE_FLAG=$(cat /etc/podinfo/gha-render-devices)
          else
            DEVICE_FLAG="--device /dev/dri"
          fi
              
          echo "Starting container: atom_release_ci (image: atom_release:ci)"
          docker run -dt --device=/dev/kfd $DEVICE_FLAG \
            -v "${GITHUB_WORKSPACE:-$PWD}":/workspace \
            --ipc=host --group-add video \
            --shm-size 16g \
            --cap-add=SYS_PTRACE \
            -e HF_TOKEN="${HF_TOKEN:-}" \
            --security-opt seccomp=unconfined \
            --ulimit memlock=-1 \
            --ulimit stack=67108864 \
            --name atom_release_ci \
            atom_release:ci
              
          docker exec atom_release_ci bash -c \
            "python3 -m atom.examples.simple_inference \
               --model meta-llama/Meta-Llama-3-8B-Instruct \
               --temperature 0 | grep -E '^Prompt: |^Completion:'" > atom_release_output.txt
          
          echo ""
          echo "========== Showing release output below =========="
          cat atom_release_output.txt

          echo ""
          echo "========== Comparing output with golden outputs =========="
          # Ignore whitespace and EOL differences in the diff
          diff -u -B -w --strip-trailing-cr atom_release_output.txt .github/workflows/golden_outputs.txt || true
          DIFF_EXIT_CODE=$?
          
          if [ $DIFF_EXIT_CODE -ne 0 ]; then
            echo "Output does not match golden outputs."
            exit 1
          else
            echo "Output matches golden outputs."
          fi

      - name: Push Docker image
        if: ${{ success() }}
        run: |
          # Push both the versioned tag and update the 'latest' tag for the Docker image
          TAG=nightly_$(date +%Y%m%d%H%M)
          docker tag atom_release:ci rocm/atom-dev:latest
          docker push rocm/atom-dev:latest
          docker tag atom_release:ci rocm/atom-dev:${TAG}
          docker push rocm/atom-dev:${TAG}

      - name: Clean Up
        if: always()
        run: |
          docker stop atom_release || true
          docker rm atom_release || true
