name: Checks

on:
  workflow_call:
    inputs:
      black:
        description: "Enable Black checks"
        required: false
        type: boolean
        default: true
      ruff:
        description: "Enable Ruff checks"
        required: false
        type: boolean
        default: true

jobs:
  black:
    name: Check Code Style with Black
    if: inputs.black
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Black
        uses: psf/black@stable

  ruff:
    name: Check Code Style with Ruff
    if: inputs.ruff
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: pip3 install ruff
      - name: Install reviewdog
        uses: reviewdog/action-setup@e04ffabe3898a0af8d0fb1af00c188831c4b5893
      - name: Run ruff with reviewdog
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ruff check . \
            --output-format=rdjson \
            --exit-zero \
            --no-fix \
          | reviewdog \
            -f=rdjson \
            -name="ruff" \
            -reporter=github-pr-review \
            -filter-mode=diff_context \
            -fail-on-error=true
